.has-error{
	color:red !important;
	text-align: left;
}
.has-error label{
	font-size: 12px; 
	margin: 0px;
	padding: 0px;
}

.has-success{
	color:green!important;
	text-align: center;
} 

.control-label.label-margin{ 
	display: block;
}