extend common/template.pug

block title
	-var title = '$projectname';
//- block title

block theme
	-var $theme = '#bd1e33';
//- block theme

block conteudo
	.internas
		.page-header
			.container
				h1 CATEGORIA
				ol.breadcrumbs
					li: a(href="#") HOME
					li: span CATEGORIA
				//- ol.breadcrumb
			//- .container
		//- .page-header
		.container
			.row
				section.col-xl-8.mgb-30
				//- section.col-xl-8
				.col-xl-4.mgb-30
					include common/sidebar.pug
//- block conteudo
