extend common/template.pug

block title
	-var title = '$projectname';
//- block title

block theme
	-var $theme = '#bd1e33';
//- block theme

block conteudo
	.internas.empresa#modelo-2
		.page-header
			.container
				h1 EMPRESA
				ol.breadcrumbs
					li: a(href="#") HOME
					li: span EMPRESA
				//- ol.breadcrumb
			//- .container
		//- .page-header
		.container
			.row.justify-content-between
				.col-xl-7.mgb-30
					h2 A [Nome de sua Empresa]
					p &nbsp;
					p(style="text-align:justify;") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptatem, totam alias eum! Officia quas est porro dignissimos quo, assumenda ipsa et voluptate molestias unde, ab aliquam adipisci beatae at!
					p(style="text-align:justify;") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptatem, totam alias eum! Officia quas est porro dignissimos quo, assumenda ipsa et voluptate molestias unde, ab aliquam adipisci beatae at!
					p(style="text-align:justify;") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptatem, totam alias eum! Officia quas est porro dignissimos quo, assumenda ipsa et voluptate molestias unde, ab aliquam adipisci beatae at!
				//- .col-xl-7
				.col-xl-5.align-self-end.img-girl
					lazyimage(src="assets/images/img-empresa-436x464.png" width="436" height="464")
				//- .col-xl-5.mgb-30
			//- .row
		//- .container

		section.nossa-equipe
			.container
				h2 #[span NOSSA] #[br] EQUIPE

				ul
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, culpa molestias repellat officia voluptates obcaecati, accusamus voluptatum eius ducimus impedit, illum porro. Unde a quam, sint qui amet, et hic!
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, culpa molestias repellat officia voluptates obcaecati, accusamus voluptatum eius ducimus impedit, illum porro. Unde a quam, sint qui amet, et hic!
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, culpa molestias repellat officia voluptates obcaecati, accusamus voluptatum eius ducimus impedit, illum porro. Unde a quam, sint qui amet, et hic!
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, culpa molestias repellat officia voluptates obcaecati, accusamus voluptatum eius ducimus impedit, illum porro. Unde a quam, sint qui amet, et hic!
			//- .container
		//- section.nossa-equipe
//- block conteudo
