main.clientes-e-parceiros#clientes-e-parceiros-mod-3
	.page-header
		.container
			h1 Clientes
			ol.breadcrumb
				li: a(href="#") Home
				li.active: span Clientes
		//- .container
	//- .page-header

	.container
		-for(var p=0;p<4;p++)
			-var n = p+1;
			-var img = `http://www.agenciagv8.com.br/internasgv8/assets/images/logo-placeholder-${n}.png`;
			// REPETE
			article.cliente
				.row
					figure.col-lg-2
						lazyimage(src=img alt="nome/descricao" width="180" height="180")
					//- .col-lg-2

					.col-lg-10
						h2.nome: span Nome do Cliente

						p Breve descrição sobre o cliente ou parceiro Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan.

						p #[b Website:] www.dominio.com.br &nbsp;&nbsp;&nbsp; #[b Telefone:] (11) 9999-9999
					//- .col-lg-10
				//- .row
			//- .cliente
			// FIM REPETE
		//-for

		.paginacao
			span.active 1
			a(href="#") 2
			a(href="#") 3
			span ...
			a(href="#") 8
			a(href="#") 9
			a(href="#") 10
			a(href="#"): i.fa.fa-angle-right
			a(href="#"): i.fa.fa-angle-double-right
		//- .paginacao
	//- .container
//- main.clientes-e-parceiros#clientes-e-parceiros-mod-3