main.produtos-servicos#produtos-mod-2
	.page-header
		.container
			h1 Nossos Serviços
			ol.breadcrumb
				li: a(href="#") Home
				li.active: span Nossos Serviços
		//- .container
	//- .page-header

	.container
		.mgb-60
			h2.subtitle-produtos <svg width="1em" height="1em"><use xlink:href="/assets/images/sprites.svg#detail-title" fill="currentcolor"/></svg> SERVIÇOS NOME DA EMPRESA
			p.text-muted Clique e veja os detalhes de cada serviço oferecido por nós.
		//- .mgb-60

		.row.row-produtos.mgb-60

			-for(var p=0;p<6;p++)
				-var i = p+1;
				// REPETE
				.col-lg-4.col-sm-6.mgb-30
					.produto
						.foto
							lazyimage(src=`http://www.agenciagv8.com.br/internasgv8/assets/images/produto-${i}-350x240.jpg` alt="nome/descricao" width="350" height="240")
						//- .foto
						.nome NOME DO SERVIÇO TESTE
						.descricao
							p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
						//- .descricao
						.btn-area
							a(href="http://www.agenciagv8.com.br/internasgv8/internas/servicos_ou_produtos/modelo-2-detalhes.html").btn.btn-expanded LEIA MAIS
					//- .produto
				//- .col-md-4.col-sm-6.mgb-30
				// FIM REPETE
		//- .row

		.paginacao
			a(href="#" aria-label="next"): i.fa.fa-chevron-left
			span.active 1
			a(href="#") 2
			a(href="#") 3
			span ...
			a(href="#") 8
			a(href="#") 9
			a(href="#") 10
			a(href="#" aria-label="next"): i.fa.fa-chevron-right
		//- .paginacao
	//- .container
//- main.produtos-servicos#produtos-mod-2