main.produtos-servicos#produtos-mod-1
	
	.page-header
		.container
			h1 PRODUTOS
			ol.breadcrumb
				li: a(href="#") Home
				li.active: span PRODUTOS
		//- .container
	//- .page-header

	.produtos-landscape
		-for(var p=1;p<9;p++)
			// repete
			.produto-landscape
				a(href="/internasgv8/internas/servicos_ou_produtos/modelo-1-detalhes.html")
					lazyimage(src=`/internasgv8/assets/images/produto-landscape-${p}-480x382.jpg` alt="Nome do Produto" width="480" height="382")
					.caption
						.nome Nome do Produto
						.fa.fa-search
					//- .caption
				// fim repete
		//- .produto-landscape
	//- .produtos-landscape
//- main.produtos-servicos