.post-thumbnail{
	width: 100%;
	max-width: 350px;
	margin-right: auto;
	margin-left: auto;
	font-size: 14px;
	box-shadow: var(--box-shadow-post-thumbnail, 0 0 8px rgba(#000,.1));

	&.post-g{
		max-width: 540px;
	}

	.foto{
		overflow: hidden;
	}

	.content{
		padding: 10px;
		background: #FFF;
	}

	img{
		transition: all 0.4s linear;
	}

	.details{
		display: flex;
		font-size: 13px;
		padding-bottom: 5px;
		position: relative;
		margin-bottom: 10px;
		white-space: nowrap;
		overflow: hidden;
		width: 100%;
		align-items: center;

		&:before{
			content:'';
			display: block;
			width: 40px;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			background: linear-gradient(to right, transparent 0%, rgba(#FFF, 0.5) 50%, #FFF 100%);
		}

		&:after{
			content:'';
			display: block;
			width:50%;
			border-top: 2px solid var(--theme, $theme);
			position: absolute;
			left: 0;
			bottom: 0;
		}

		.tags{
			overflow: hidden;
			flex-grow: 1;

			&:before{
				content:'';
				display: inline-block;
				width: 0.3em;
				min-width: 0.3em;
				height: 0.3em;
				border-radius: 50%;
				background: currentcolor;
				margin: 0 10px;
				transform: translateY(-50%);
			}

			& > *{
				display: inline-block;
				padding: 3px 4px;

				& + *{
					margin-left: 5px;
				}
			}
		}

	}

	.nome{
		font-size: 16px;
		line-height: 1.5em;
		max-height: 3em;
		@include line-clamp(2);
		font-family: 'Montserrat Black', var(--font-fallback);
		margin-bottom: 10px;
	}

	.desc{
		margin-bottom: 10px;
		max-height: 4.5em;
		@include line-clamp(3);
	}

	.ver-detalhes{
		color: var(--color-link-post-thumbnail, $theme);
		font-family: 'Montserrat Bold', var(--font-fallback);

		&:hover{
			color: var(--color-link-post-thumbnail, $theme);
			text-decoration: none;
		}
	}

	&:hover{
		.nome{
			color: var(--color-title-post-thumbnail-hover, $theme);
		}

		img{
			transform: scale(1.1) rotate(2deg);
		}
	}
}


.post-thumbnail-horizontal{
	font-size: 14px;
	box-shadow: var(--box-shadow-post-thumbnail, 0 0 8px rgba(#000,.1));
	margin-bottom: 15px;
	width: 100%;
	max-width: 540px;
	margin-right: auto;
	margin-left: auto;

	.foto{
		overflow: hidden;
	}

	.content{
		padding: 10px;
		background: #FFF;
	}

	img{
		transition: all 0.4s linear;
	}

	.media-body{
		padding-left: 10px;
	}

	.details{
		display: flex;
		font-size: 13px;
		padding-bottom: 5px;
		position: relative;
		margin-bottom: 10px;
		white-space: nowrap;
		overflow: hidden;
		width: 100%;
		align-items: center;

		&:before{
			content:'';
			display: block;
			width: 40px;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			background: linear-gradient(to right, transparent 0%, var(--bg-posts-importantes, #e4e4e4) 100%);
		}

		&:after{
			content:'';
			display: block;
			width:50%;
			border-top: 2px solid var(--theme, $theme);
			position: absolute;
			left: 0;
			bottom: 0;
		}

		.tags{
			overflow: hidden;
			flex-grow: 1;

			&:before{
				content:'';
				display: inline-block;
				width: 0.3em;
				min-width: 0.3em;
				height: 0.3em;
				border-radius: 50%;
				background: currentcolor;
				margin: 0 10px;
				transform: translateY(-50%);
			}

			span{
				display: inline-block;
				padding: 3px 4px;

				& + span{
					margin-left: 5px;
				}
			}
		}

	}

	.nome{
		font-size: 16px;
		line-height: 1.5em;
		max-height: 3em;
		@include line-clamp(2);
		font-family: 'Montserrat Black', var(--font-fallback);
		margin-bottom: 10px;
	}

	.desc{
		margin-bottom: 10px;
		max-height: 3em;
		@include line-clamp(2);
	}

	.ver-detalhes{
		color: var(--color-link-post-thumbnail, $theme);
		font-family: 'Montserrat Bold', var(--font-fallback);

		&:hover{
			color: var(--color-link-post-thumbnail, $theme);
			text-decoration: none;
		}
	}

	&:hover{
		.nome{
			color: var(--color-title-post-thumbnail-hover, $theme);
		}

		img{
			transform: scale(1.1) rotate(2deg);
		}
	}

	@include media-breakpoint-down(sm) {
		.foto{
			width: 60px;
		}

		.media-body{
			width: calc(100% - 60px);
		}
	}
}

.post{
	font-size: 14px;

	.details{
		display: flex;
		font-size: 13px;
		padding-bottom: 5px;
		position: relative;
		margin-bottom: 10px;
		white-space: nowrap;
		overflow: hidden;
		width: 100%;
		align-items: center;
		margin-bottom: 30px;

		&:before{
			content:'';
			display: block;
			width: 40px;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			background: linear-gradient(to right, transparent 0%, #FFF 100%);
		}

		&:after{
			content:'';
			display: block;
			width:50%;
			max-width: 162px;
			border-top: 2px solid var(--theme, $theme);
			position: absolute;
			left: 0;
			bottom: 0;
		}

		.tags{
			overflow: hidden;
			flex-grow: 1;

			&:before{
				content:'';
				display: inline-block;
				width: 0.3em;
				min-width: 0.3em;
				height: 0.3em;
				border-radius: 50%;
				background: currentcolor;
				margin: 0 10px;
				transform: translateY(-50%);
			}

			& > *{
				display: inline-block;
				padding: 3px 4px;

				& + & > *{
					margin-left: 5px;
				}
			}
		}

	}
}
