footer.rodape
	.container
		.text-center.mgb-30
			h2.titulo CONTATO
			h3.subtitulo Entre em contato conosco
		//- .text-center
		.row
			.col-sm-6.col-md-4.col-lg-3.mgb-30.dados-footer
				.mgb-20.text-center
					i.fas.fa-map-marker.circle-icon
				p Av. Lorem Ipsum Dolor, 9999 #[br] Bairro Lorem Ipsum #[br] Cidade, SS | CEP 12345-678
			//- .col-sm-6.col-md-4.col-lg-3

			.col-sm-6.col-md-4.col-lg-3.mgb-30.dados-footer
				.mgb-20.text-center
					i.fas.fa-phone.circle-icon
				p (99) 9999-99999 #[br] (99) 9 8888-8888
			//- .col-sm-6.col-md-4.col-lg-3

			.col-sm-6.col-md-4.col-lg-3.mgb-30.dados-footer
				.mgb-20.text-center
					i.fas.fa-envelope.circle-icon
				p #[a(href="mailto:contato@dominio.com.br") contato@dominio.com.br]
			//- .col-sm-6.col-md-4.col-lg-3

			.col-sm-6.col-lg-3.mgb-30
				.title-footer SIGA-NOS
				.redes-sociais
					a(href="#" title="Facebook").fab.fa-facebook-f
					a(href="#" title="Twitter").fab.fa-twitter
					a(href="#" title="Instagram").fab.fa-instagram
					a(href="#" title="Pinterest").fab.fa-pinterest-p
					a(href="#" title="Email").fas.fa-envelope
				//- .redes-sociais
			//- .col-sm-6.col-md-4.col-lg-3
		//- .row
	//- .container
	.creditos
		.container
			| NOME DA EMPRESA  © Todos os direitos reservados. Implementação de conteúdo e material fornecidos pelo administrador.
			br
			| Criação de Sites: #[a(href="https://gv8.com.br" target="_blank") GV8 Sites & Sitemas #[img(src="assets/images/logo-gv8.png" alt="logo GV8 Sites & Sitemas")]]
		//- .container
	//- .creditos
//- footer.rodape