main#qm-somos-1.empresa
	.page-header
		.container
			h1 Sobre Nós
			ol.breadcrumb
				li: a(href="#") Home
				li.active: span Sobre Nós
		//- .container
	//- .page-header
	.container
		.clearfix.text-justify

			.title-sobre
				span.h5.text-muted PREZAMOS EM OFERECER #[br] SEMPRE SERVIÇOS DE
				h2.h1:  strong QUALIDADE
				hr.mgb-60
			//- .title-sobre
			
			img(src="assets/images/img-empresa-1.png" alt="nome/descricao" style="float:right;margin-left: 30px;margin-right: 30px;margin-bottom: 30px;")


			p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
			p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. 

			p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
		//- .clearfix
	//- .container

	section.tragetoria.mgb-60
		.container
			h2.title-tragetoria.mgb-60 #[span NOSSA HISTÓRIA] TRAJETÓRIA #[br] #[i.icon.stardust]

			.row
				.col-lg-3.mgb-30
					.trajeto
						.trajeto-title: span.detail LOREM IPSUM DOLOR - #[span.text-danger 1970]
						.trajeto-content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						//- .content
					//- .trajeto
				//- .col-lg-3
				.col-lg-3.mgb-30
					.trajeto
						.trajeto-title: span.detail LOREM IPSUM DOLOR - #[span.text-danger 1980]
						.trajeto-content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						//- .content
					//- .trajeto
				//- .col-lg-3
				.col-lg-3.mgb-30
					.trajeto
						.trajeto-title: span.detail LOREM IPSUM DOLOR - #[span.text-danger 1990]
						.trajeto-content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						//- .content
					//- .trajeto
				//- .col-lg-3
				.col-lg-3.mgb-30
					.trajeto
						.trajeto-title: span.detail LOREM IPSUM DOLOR - #[span.text-danger 2000]
						.trajeto-content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						//- .content
					//- .trajeto
				//- .col-lg-3
			//- .row
		//- .container
	//- section.tragetoria
	section.missao-visao-valores
		.container
			.row.mgb-30
				// REPETE
				.col-md-4.mgb-30
					.block
						lazyimage(src="assets/images/img-missao.jpg" alt="Nossa Missao" width="151" height="165")
						.title NOSSA #[br] #[span MISSÃO]
						.desc
							p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
						//- .desc
					//- .block
				//- .col-md-4
				// FIM REPETE
				// REPETE
				.col-md-4.mgb-30
					.block
						lazyimage(src="assets/images/img-visao.jpg" alt="Nossa Missao" width="151" height="165")
						.title NOSSA #[br] #[span VISÃO]
						.desc
							p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
						//- .desc
					//- .block
				//- .col-md-4
				// FIM REPETE
				// REPETE
				.col-md-4.mgb-30
					.block
						lazyimage(src="assets/images/img-valores.jpg" alt="Nossa Missao" width="151" height="165")
						.title NOSSOS #[br] #[span VALORES]
						.desc
							p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
						//- .desc
					//- .block
				//- .col-md-4
				// FIM REPETE
			//- .row
		//- .container
	//- section.missao-visao-valores
//- main