// Variaveis CSS
style.
	:root{
		--theme: #bd1e33;
		--dark-theme: #911727;
		--light-theme: #de3047;

		/*topo*/
		--bg-mobile-controls: var(--theme);
		--color-mobile-controls: #FFF;

		--bg-btn-mobile-controls: var(--theme);
		--color-btn-mobile-controls: #FFF;

		--bg-btn-mobile-controls-hover: var(--dark-theme);
		--color-btn-mobile-controls-hover: #FFF;

		--bg-faixa-topo: var(--theme);
		--color-faixa-topo: #FFF;

		--bg-main-topo: #e4e4e4;

		--bg-btn-search: var(--theme);
		--color-btn-search: #FFF;
		--bg-btn-search-hover: var(--dark-theme);
		--color-btn-search-hover: #FFF;

		--borda-menu-active: var(--theme);
		--color-menu-active: #232323;
		--bg-menu-active-mobile: var(--theme);
		--color-menu-active-mobile: #fff;

		/*Rodape*/
		--border-top-rodape: 3px solid var(--theme);
		--bg-rodape: #333333;
		--color-rodape: #FFF;
		--color-rodape-link-hover: var(--theme);

		--bg-creditos: #333;
		--color-creditos: #FFF;
		--border-creditos: 3px solid var(--theme);

		/*Home*/
		--color-h1-title-section: #212529;
		--color-h2-title-section: var(--theme);

		--color-h1-title-section-ultimas-noticias: #212529;
		--color-h2-title-section-ultimas-noticias: var(--theme);

		/*post-thumbnail*/
		--color-title-post-thumbnail-hover: var(--theme);
		--color-link-post-thumbnail: var(--theme);
		--box-shadow-post-thumbnail: none;
		/*fim post-thumbnail*/

		--bg-posts-importantes: #e4e4e4;

		--bg-btn-newsletter: var(--theme);
		--color-btn-newsletter: #FFF;
		--bg-btn-newsletter-hover: var(--dark-theme);
		--color-btn-newsletter-hover: #FFF;

		--bg-page-header: #f0f0f0;
		--color-page-header: #000;
		--page-header-span-color: #777;
		--page-header-a-hover: var(--theme);

		--bg-btn-voltar: var(--theme);
		--color-btn-voltar: #FFF;
		--bg-btn-voltar-hover: var(--dark-theme);
		--color-btn-voltar-hover: #FFF;
	}
