style.
	.rodape-example {padding:50px 15px;background: #9D192B; color: #FFF; text-align: center}
footer.rodape-example #[i.fa.fa-exclamation-triangle.fa-2x] #[br] [ Aqui será o rodapé do #[strong seu site]]
//- footer