.has-error.control-label.label-margin{
	color:red !important; 
}

.has-error label{
	color:red !important;
	text-align: left;
}
.has-error label{
	font-size: 12px; 
	margin: 0px;
	padding: 0px;
}

.has-success{
	color:green!important;
	text-align: center;
}

#owlServicos .item.active a {
    color: #633517!important; 
}

#owlServicos .item.active figure { 
    background-color: #633517!important;
}

.pull-left{
	float: left;
}

.hide{
	display: none;
}

.menu-li.dropdown.active li.active{
	color: #633517;
}

.control-label.label-margin{
	position: relative;
	display: block;
}

.border-green{
	border: solid 3px green; 
	border-radius: 25px;

}