.rodape{
	border-top:2px solid #bd1e33;
	background: #333333;
	color: #FFF;
	padding-top:30px;

	a:hover{
		color: #bd1e33;
	}

	.title-footer{
		margin-bottom: 20px;
	}

	.dados-footer{
		text-align: center;
	}

	.redes-sociais{

		a{
			width:2em;
			height:2em;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			background: #FFF;
			color: #333;
			border-radius: 100%;
			margin-right:10px;

			&:hover{
				text-decoration: none;
				background: #bd1e33;
				color: #FFF;
			}
		}
	}

	.circle-icon{
		width:2em;
		height:2em;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background: #FFF;
		color: #333;
		border-radius: 100%;
		margin-right:10px;
	}

	.creditos{
		border-top:3px solid #bd1e33;
		padding:10px 0;
		font-size: 12px;
		text-align: center; 
	}
}