mixin alertas
	#alertas
		.alert.alert-success
			.media
				i.icon-alerta.fas.fa-check-circle
				.media-body {{ message.success }}
			//- .media
			button(type="button" data-dismiss="alert" aria-label="Fechar").close &times;
		//- .alert.alert-danger

		.alert.alert-warning
			.media
				i.icon-alerta.fas.fa-exclamation-triangle
				.media-body {{ message.warning }}
			//- .media
			button(type="button" data-dismiss="alert" aria-label="Fechar").close &times;
		//- .alert.alert-danger

		.alert.alert-danger
			.media
				i.icon-alerta.fas.fa-exclamation-triangle
				.media-body {{ message.danger }}
			//- .media
			button(type="button" data-dismiss="alert" aria-label="Fechar").close &times;
		//- .alert.alert-danger

		.alert.alert-info
			.media
				i.icon-alerta.fas.fa-info-circle
				.media-body {{ message.info }}
			//- .media
			button(type="button" data-dismiss="alert" aria-label="Fechar").close &times;
		//- .alert.alert-danger
	//- #alertas
//- mixin alertas