mixin calendario
	.calendario-filtro
		.mes
			.calendario-head
				button.prev.ctrl-mes(data-fn="prev" data-target="2019,1")
					i(class="fas fa-chevron-left")
					span.sr-only Prev
				.nome {{mes}} - {{ano}}
				button.prev.ctrl-mes(data-fn="prev" data-target="2019,3")
					i(class="fas fa-chevron-right")
					span.sr-only Next
			///.calendario-head

			ol.dias-semana
				li D
				li S
				li T
				li Q
				li Q
				li S
				li S
			ol.dias
		///.mes
	///.calendario-filtro
//- mixin calendario