main.noticias#modelo-3
	.page-header
		.container
			h1 Notícias
			ol.breadcrumb
				li: a(href="http://www.agenciagv8.com.br/internasgv8/internas/noticias_artigos_ou_dicas/modelo-3.html#") Home
				li.active: span Notícias
		//- .container
	//- .page-header
	.container
		.row
			.col-lg-8.mgb-30
				.noticia-detalhes
					.header
						h2.h1 This is Photoshop's version of Lorem Ipsum. Set Proin gravida nibh vel valit auctor aliquet Aenean
						h2.subtitulo This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
						.header-detail
							.autor #[em Font:] #[span Nome da Empresa], em São Paulo
							.redes-sociais
								a(href="#" target="_blank" title="Facebook").fab.fa-facebook-f
								a(href="#" target="_blank" title="Twitter").fab.fa-twitter
								a(href="#" target="_blank" title="Instagram").fab.fa-instagram
						//- .header-detail
					//- .header
					.clearfix.body
						img(src="http://placehold.it/850x600" alt="nome/descricao" style="margin-bottom:40px;")
						p(style="text-align:justify") This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. 
						p(style="text-align:justify") This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
						p(style="text-align:justify") This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
						img(src="http://placehold.it/250x250" style="float:left;margin-right: 30px;margin-bottom: 30px;")

						p(style="text-align:justify") This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
						p(style="text-align:justify") This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
						p(style="text-align:justify") This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.

					//- .clearfix
					.footer
						.redes-sociais.mgb-30.row
							.col-md
								h5 Gostou? Então compartilhe para seus amigos :)
							.col-auto
								a(href="#" target="_blank" title="Facebook").fab.fa-facebook-f
								a(href="#" target="_blank" title="Twitter").fab.fa-twitter
								a(href="#" target="_blank" title="Instagram").fab.fa-instagram
						//- .redes-sociais

						h3.h5 VEJA MAIS IMAGENS
						.carousel.carousel-responsive#album-noticias.slide(data-xl="4" data-sm="2" data-interval="0")
							.carousel-inner
								-for( var c=0;c<8;c++)
									-var n=c+1;
									// REPETE
									.col-xl-3.col-sm-6
										a(href="http://placehold.it/1000x1000" data-lightbox="noticia" title="Lorem Ipsum "+n)
											lazyimage(src="http://placehold.it/270x200" width="270" height="200" alt="Lorem Ipsum "+n)
									//- .col-lg-3.col-md-4.col-sm-6
									// FIM REPETE

							//- .carousel-inner

							a(href="#album-noticias" data-slide="prev").prev
								span.sr-only Prev
								i.fas.fa-chevron-left
							a(href="#album-noticias" data-slide="next").next
								span.sr-only Next
								i.fas.fa-chevron-right
						//- .carousel
					//- .noticia-footer
			.col-lg-4.mgb-20
				.card.mais-lidas
					.card-header #[span MAIS] LIDAS
					.card-body
						-for(let m=0;m<4;m++)
							-var n = m+1;
							// REPETE
							a(href="http://www.agenciagv8.com.br/internasgv8/internas/noticias_artigos_ou_dicas/modelo-3.html#")
								article.media
									.rank 0#{n}
									.media-body
										.text-right.publicado HÁ 2 HORAS
										h3 Título da notícia teste lorem ipsum dolor set, only example and text in again version photoshop.
								///.media
							// FIM REPETE
						//-for
					.card-footer
						a(href="http://www.agenciagv8.com.br/internasgv8/internas/noticias_artigos_ou_dicas/modelo-3.html#").btn.btn-block VER MAIS AQUI #[i.fas.fa-angle-right-double]
				///.card

				.text-center
					div(class="fb-page" data-href="https://www.facebook.com/gv8website" data-width="500" data-height="240" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true")
			//- .col-lg-4
//- main.noticias#modelo-2