main.noticias#modelo-3
	.page-header
		.container
			h1 Notícias
			ol.breadcrumb
				li: a(href="http://www.agenciagv8.com.br/internasgv8/internas/noticias_artigos_ou_dicas/modelo-3.html#") Home
				li.active: span Notícias
		//- .container
	//- .page-header
	.container
		.row
			.col-md-7.col-lg-8.mgb-20
				h2.h1 #[span ÚLTIMAS] NOTÍCIAS
				
				-for(var c=0;c<3;c++)
					-var n=c+1;
					// repete
					article.row.noticia-h
						.col-lg-6.col-md-12.col-sm-6.image-area
							figure.noticia-covered
								.foto
									lazyimage(src="assets/images/noticia-350x255.png" width="350" height="255" alt="Titulo da Notícia in teste lorem ipsum a dolor set edit")
									figcaption.caption-noticia
										.content
											.tag LOREM IPSUM
									//- figcaption.caption-noticia
							//- .noticia-covered
						//- .col-md-6
						.col-lg-6.col-md-12.col-sm-6.text-area
							//REPETE
							.noticia-text
								a(href="http://www.agenciagv8.com.br/internasgv8/internas/noticias_artigos_ou_dicas/modelo-3-interna.html")
									h2.titulo Título da notícia in teste lorem ipsum dolor sit amet, consectetur adipisicing elit.
									.descricao Breve descrição da notícia lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab doloribus omnis minus, ea, accusamus facere cumque quos, maxime quibusdam error dolores voluptate officiis similique nam blanditiis impedit molestias animi ipsam.
								.footer
									.redes-sociais
										a(href="http://www.agenciagv8.com.br/internasgv8/internas/noticias_artigos_ou_dicas/modelo-3.html#").fab.fa-facebook
										a(href="http://www.agenciagv8.com.br/internasgv8/internas/noticias_artigos_ou_dicas/modelo-3.html#").fab.fa-twitter
									//- .redes-sociais
									.postado Postado em 18/02/2019 às 17:15h
								//- .footer
							//FIM REPETE
						//- .col-md-6
					//- article.row
					// fim repete

				.mgt-60.mgb-40
					a(href="http://www.agenciagv8.com.br/internasgv8/internas/noticias_artigos_ou_dicas/modelo-3.html#").btn.btn-load-more.btn-block CARREGAR MAIS NOTÍCIAS
			//- .col-lg-8

			.col-md-5.col-lg-4.mgb-20
				.card.mais-lidas
					.card-header #[span MAIS] LIDAS
					.card-body
						-for(let m=0;m<4;m++)
							-var n = m+1;
							// REPETE
							a(href="http://www.agenciagv8.com.br/internasgv8/internas/noticias_artigos_ou_dicas/modelo-3.html#")
								article.media
									.rank 0#{n}
									.media-body
										.text-right.publicado HÁ 2 HORAS
										h3 Título da notícia teste lorem ipsum dolor set, only example and text in again version photoshop.
								///.media
							// FIM REPETE
						//-for
					.card-footer
						a(href="http://www.agenciagv8.com.br/internasgv8/internas/noticias_artigos_ou_dicas/modelo-3.html#").btn.btn-block VER MAIS AQUI #[i.fas.fa-angle-right-double]
				///.card

				.text-center
					div(class="fb-page" data-href="https://www.facebook.com/gv8website" data-width="500" data-height="240" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true")
			//- .col-lg-4
		//- .row
	//- .container
//- main.noticias#modelo-3