main.noticias#modelo-2
	.page-header
		.container
			h1 Notícias
			ol.breadcrumb
				li: a(href="#") Home
				li.active: span Notícias
		//- .container
	//- .page-header

	.container
		.row.masonry-row
			.col-sm-6.col-lg-4.mgb-30.masonry-sizer
			// REPETE
			.col-sm-6.col-lg-4.mgb-30.masonry-item(data-animate="zoomIn animated")
				.noticia
					.thumbnail
						lazyimage(src=`http://placehold.it/350x350/1976EF/FFF` width="350" height="350" alt="Título da notícia Loreem Ipsum Dolor Ser, only Example in Edita Table after Load More.").img-fluid
					.noticia-content
						.data
							.dia-mes
								.dia 1
								.mes Nov
							//- .dia-mes
							.ano 2017
						//- .data
						.noticia-body
							.autor-pub
								.autor #[em por] #[strong Fulano de Tal]
								.publ #[em Postado em:] 18/10/2017 às 15:00h
							//- .autor-pub
							.titulo Título da notícia Loreem Ipsum Dolor Ser, only Example in Edita Table after Load More.
							.divider
							.content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda provident ipsam aut molestias sapiente sequi totam deserunt, cumque quod explicabo, labore libero alias laudantium dolorum quisquam, quaerat maxime dignissimos debitis.
							.text-center
								a(href="internas/noticias_artigos_ou_dicas/modelo-2-interna.html").btn.btn-leia-mais LEIA MAIS
							//- .text-center
					//- .noticia-content
			// FIM REPETE
			// REPETE
			.col-sm-6.col-lg-4.mgb-30.masonry-item(data-animate="zoomIn animated")
				.noticia
					.thumbnail
						lazyimage(src=`http://placehold.it/350x350/1976EF/FFF` width="350" height="350" alt="Título da notícia Loreem Ipsum Dolor Ser, only Example in Edita Table after Load More.").img-fluid
					.noticia-content
						.data
							.dia-mes
								.dia 2
								.mes Nov
							//- .dia-mes
							.ano 2017
						//- .data
						.noticia-body
							.autor-pub
								.autor #[em por] #[strong Fulano de Tal]
								.publ #[em Postado em:] 18/10/2017 às 15:00h
							//- .autor-pub
							.titulo Título da notícia Loreem Ipsum Dolor
							.divider
							.content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda provident ipsam aut molestias sapiente sequi totam deserunt.
							.text-center
								a(href="internas/noticias_artigos_ou_dicas/modelo-2-interna.html").btn.btn-leia-mais LEIA MAIS
							//- .text-center
					//- .noticia-content
			// FIM REPETE
			// REPETE
			.col-sm-6.col-lg-4.mgb-30.masonry-item(data-animate="zoomIn animated")
				.noticia
					.thumbnail
					.noticia-content
						.data
							.dia-mes
								.dia 3
								.mes Nov
							//- .dia-mes
							.ano 2017
						//- .data
						.noticia-body
							.autor-pub
								.autor #[em por] #[strong Fulano de Tal]
								.publ #[em Postado em:] 18/10/2017 às 15:00h
							//- .autor-pub
							.titulo Título da notícia Loreem Ipsum Dolor
							.divider
							.content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda provident ipsam aut molestias sapiente sequi totam deserunt.
							.text-center
								a(href="internas/noticias_artigos_ou_dicas/modelo-2-interna.html").btn.btn-leia-mais LEIA MAIS
							//- .text-center
					//- .noticia-content
			// FIM REPETE
			// REPETE
			.col-sm-6.col-lg-4.mgb-30.masonry-item(data-animate="zoomIn animated")
				.noticia
					.thumbnail
						lazyimage(src=`http://placehold.it/350x350/1976EF/FFF` width="350" height="350" alt="Título da notícia Loreem Ipsum Dolor Ser, only Example in Edita Table after Load More.").img-fluid
					.noticia-content
						.data
							.dia-mes
								.dia 4
								.mes Nov
							//- .dia-mes
							.ano 2017
						//- .data
						.noticia-body
							.autor-pub
								.autor #[em por] #[strong Fulano de Tal]
								.publ #[em Postado em:] 18/10/2017 às 15:00h
							//- .autor-pub
							.titulo Título da notícia Loreem Ipsum Dolor Ser, only Example in Edita Table after Load More.
							.divider
							.content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda provident ipsam aut molestias sapiente sequi totam deserunt, cumque quod explicabo, labore libero alias laudantium dolorum quisquam, quaerat maxime dignissimos debitis.
							.text-center
								a(href="internas/noticias_artigos_ou_dicas/modelo-2-interna.html").btn.btn-leia-mais LEIA MAIS
							//- .text-center
					//- .noticia-content
			// FIM REPETE
			// REPETE
			.col-sm-6.col-lg-4.mgb-30.masonry-item(data-animate="zoomIn animated")
				.noticia
					.thumbnail
						lazyimage(src=`http://placehold.it/350x350/1976EF/FFF` width="350" height="350" alt="Título da notícia Loreem Ipsum Dolor Ser, only Example in Edita Table after Load More.").img-fluid
					.noticia-content
						.data
							.dia-mes
								.dia 5
								.mes Nov
							//- .dia-mes
							.ano 2017
						//- .data
						.noticia-body
							.autor-pub
								.autor #[em por] #[strong Fulano de Tal]
								.publ #[em Postado em:] 18/10/2017 às 15:00h
							//- .autor-pub
							.titulo Título da notícia Loreem Ipsum Dolor
							.divider
							.content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda provident ipsam aut molestias sapiente sequi totam deserunt.
							.text-center
								a(href="internas/noticias_artigos_ou_dicas/modelo-2-interna.html").btn.btn-leia-mais LEIA MAIS
							//- .text-center
					//- .noticia-content
			// FIM REPETE
			// REPETE
			.col-sm-6.col-lg-4.mgb-30.masonry-item(data-animate="zoomIn animated")
				.noticia
					.thumbnail
					.noticia-content
						.data
							.dia-mes
								.dia 6
								.mes Nov
							//- .dia-mes
							.ano 2017
						//- .data
						.noticia-body
							.autor-pub
								.autor #[em por] #[strong Fulano de Tal]
								.publ #[em Postado em:] 18/10/2017 às 15:00h
							//- .autor-pub
							.titulo Título da notícia Loreem Ipsum Dolor
							.divider
							.content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda provident ipsam aut molestias sapiente sequi totam deserunt.
							.text-center
								a(href="internas/noticias_artigos_ou_dicas/modelo-2-interna.html").btn.btn-leia-mais LEIA MAIS
							//- .text-center
					//- .noticia-content
			// FIM REPETE
		//- .row.masonry-row

		.text-center
			// 
				Passar no attr [data-content] a rota que irá printar os dados em formato json para poder carregar mais itens.
				Os dados devem seguir a seguinte estrutura:
				
				``` json
				{
					"temMaisItens" : true, // caso true continua exibindo o btn carregar mais
					"noticias" : [
						{
							"thumbnail" : "http://placehold.it/350x350/1976EF/FFF",
							"titulo"	: "Título da notícia Loreem Ipsum Dolor Ser, only Example in Edita Table after Load More.",
							"conteudo" 	: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda provident ipsam aut molestias sapiente sequi totam deserunt, cumque quod explicabo, labore libero alias laudantium dolorum quisquam, quaerat maxime dignissimos debitis.",
							"href" 		: "internas/noticias_artigos_ou_dicas/modelo-2-interna.html",
							"dia" 		: "7",
							"mes" 		: "Nov",
							"ano"		: "2017",
							"autor" 	: "Fulano de Tal",
							"publicado" : "05/11/206 às 15:00h"
						}
					]
				}
				```
			button(type="button" data-toggle="masonry" data-content="/assets/json/noticias.json").btn.btn-loadmore CARREGAR MAIS
		// .text-center
	//- .container
//- main.noticias#modelo-2