// Margins
@for $i from 0 through 20{
	$m: $i * 5;

	@include margin-variant($m);
}

@for $i from 1 through 20 {
	$m: $i * 5;

	.mgb-#{$m} {
		margin-bottom: #{$m}px;
	}

	.mgt-#{$m} {
		margin-top: #{$m}px;
	}
} 
