.icon{
	background-image: url('../images/sprites.png');
	background-repeat:no-repeat;
	display: inline-block;
	vertical-align: middle;
	background-size: 103px 86px;

	&.detalhe-depoimento-3{
		width: 53px;
		height: 42px;
		background-position: 0px 0px;
	}

	&.megafone-agenda-1{
		width: 19px;
		height: 18px;
		background-position: -84px -52px;
	}

	&.stardust{
		width: 31px;
		height: 31px;
		background-position: -43px -52px;
	}

	&.telemarketing-sm{
		width: 33px;
		height: 34px;
		background-position: 0px -52px;
	}

	&.telemarketing{
		width: 40px;
		height: 42px;
		background-position: -63px 0px;
	}

}
