@import "_material-design-color-pallet.scss";

@function materialColor($cor: 'red' , $intensidade: $cor){
  $color:'';
  $colorTmp: map-get($materialDesignColors, $cor);

  @if type-of($colorTmp) == 'map' {
    $color: map-get($colorTmp, $intensidade);
  }

  @else{
    $color: $colorTmp;
  }
  
  @return $color;
}