main#agenda-1.page-agenda
	.page-header
		.container
			h1 Nossos Eventos
			ol.breadcrumb
				li: a(href="#") Home
				li.active: span Nossos Eventos
		//- .container
	//- .page-header

	.container
		form.filtro-agenda
			p BUSQUE O #[strong EVENTO DESEJADO] ABAIXO:

			.filter-box
				.filter-box-group
					input(type="text" name="date-filter" id="date-filter" placeholder="DATA").datepicker
					label(for="date-filter").sr-only DATA
				///.filter-box-group

				.filter-box-group
					button.btn.btn-busca BUSCAR
				///.filter-box-group
			///.filter-box
		//- form.filtro-agenda

		.row.listagem-agenda
			-for(var i=0;i<8;i++)
				-var e = i+1;
				// repete
				.col-sm-6.col-md-4.col-lg-3.mgb-30
					.card.card-agenda
						figure.card-foto
							lazyimage(src="http://placehold.it/270x170" alt="nome/descricao" width="270" height="170")
							figcaption
								.dia 07
								.mes Out
						//- figure.card-foto
						.card-header NOME DO EVENTO DE TESTE LOREM IPSUM
						.card-body
							.nome #[svg.svg-icon: use(xlink:href="assets/images/sprites.svg#sign")] NOME DO LOCAL DO EVENTO
							.data #[i.far.fa-calendar-alt] 07/10/20XX

							.description This is a Lorem Ipsum Text.  Proin gravida nibh vel velit auctor aliquet

							.text-center: a(href="internas/agendas_ou_eventos/modelo-1-interna.html").btn.btn-expanded VEJA MAIS
						//- .card-body
						//- .card.card-agenda
				//- .col-sm-6.col-md-4.col-lg-3
				// fim repete
		//- .row

		.paginacao
			a(href="#") PÁGINA ANTERIOR
			a(href="#") 1
			span.active 2
			a(href="#") 3
			span(aria-label="thorught from 3 to 7") ....
			a(href="#") 7
			a(href="#") 8
			a(href="#") 9
			a(href="#") PRÓXIMA PÁGINA
	///.container
//- main#agenda-1.page-agenda