main#agenda-2.page-agenda
	.page-header
		.container
			h1 Eventos
			ol.breadcrumb
				li: a(href="#") Home
				li.active: span Eventos
		//- .container
	//- .page-header
	.container
		.container
			.row
				.col-lg-7.mgb-40
					article.post
						.header
							.title-area
								h2.title Título do Evento teste Lorem Ipsum
								p.subtitulo Subtítulo do evento lorem isum dolor set example version potoshop

							.row.justify-content-between.align-items-center.mgb-20
								.col-auto.data 29/10/2017
								.col-auto.redes-sociais
									.row.align-items-center
										.col-auto
											p Gostou? Compartilhe
										.col-auto
											a(href="#" target="_blank").facebook #[i.fab.fa-facebook] FACEBOOK
											a(href="#" target="_blank").twitter #[i.fab.fa-twitter] TWITTER
											// na prova não tinha essas abaixo, mas ... né
												<a class="instagram" href="#" target="_blank"><i class="fab fa-instagram"></i> INSTAGRAM</a>
												<a class="linkedin" href="#" target="_blank"><i class="fab fa-linkedin-in"></i> LINKEDIN</a>
												<a class="pinterest" href="#" target="_blank"><i class="fab fa-pinterest-p"></i> PINTEREST</a>
												<a class="behance" href="#" target="_blank"><i class="fab fa-behance-square"></i> BEHANCE</a>
												<a class="blogger" href="#" target="_blank"><i class="fab fa-blogger-b"></i> BLOGGER</a>
												<a class="dribbble" href="#" target="_blank"><i class="fab fa-dribbble"></i> DRIBBBLE</a>
							//- .row
						//- .header

						figure.foto-principal
							lazyimage(src="http://placehold.it/670x450" width="670" height="450" alt="nome/descricao")
							figcaption Breve legenda da foto principla teste. This is Photoshop's version of Lorem Ipsum. Proin gravida vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibndum auctor.
						//- figure

						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

						.embed-responsive
							<iframe width="798" height="449" src="https://www.youtube.com/embed/TsM2kmDKf_0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						//- .embed-responsive
					//- article.post
				//- .col-lg-7

				aside.col-lg-5.mgb-40
					.media.title-side
						.icon-area
							i.fas.fa-comment-dots
						.media-body: span OUTROS #[span.strong EVENTOS]
					//- .media
					
					// REPETE
					article.evento-thumb
						a(href="http://www.agenciagv8.com.br/internasgv8/internas/agendas_ou_eventos/modelo-2.html#")
							.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							.leia-mais leia mais [+]
					//- article.evento-thumb
					// FIM REPETE
					
					// REPETE
					article.evento-thumb
						a(href="http://www.agenciagv8.com.br/internasgv8/internas/agendas_ou_eventos/modelo-2.html#")
							.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							.leia-mais leia mais [+]
					//- article.evento-thumb
					// FIM REPETE
					
					// REPETE
					article.evento-thumb
						a(href="http://www.agenciagv8.com.br/internasgv8/internas/agendas_ou_eventos/modelo-2.html#")
							.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							.leia-mais leia mais [+]
					//- article.evento-thumb
					// FIM REPETE
					
					// REPETE
					article.evento-thumb
						a(href="http://www.agenciagv8.com.br/internasgv8/internas/agendas_ou_eventos/modelo-2.html#")
							.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							.leia-mais leia mais [+]
					//- article.evento-thumb
					// FIM REPETE

					.mgt-30.mgb-30: a.btn.btn-block.btn-harder-border(href="#") VER TODOS
				//- .col-lg-5
			//- .row
		//- .container
//- main#agenda-2.page-agenda