main#agenda-3.page-agenda
	.page-header
		.container
			h1 Nossos Eventos
			ol.breadcrumb
				li: a(href="#") Home
				li.active: span Nossos Eventos
		//- .container
	//- .page-header
	.container

		.row.row-eventos
			// repete
			.col-md-6.mgb-30
				article.media.media-evento
					.data-area
						.data
							.dia 05
							.mes SET
						//- .data
						.inicio INÍCIO ÀS 20:00 h
					//- .data-area
					.media-body
						h2 TÍTULO DO EVENTO OU AGENDA IF TESTE
						.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					//- .media-body
				//- .media
			// fim repete
			// repete
			.col-md-6.mgb-30
				article.media.media-evento
					.data-area
						.data
							.dia 05
							.mes SET
						//- .data
						.inicio INÍCIO ÀS 20:00 h
					//- .data-area
					.media-body
						h2 TÍTULO DO EVENTO OU AGENDA IF TESTE
						.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					//- .media-body
				//- .media
			// fim repete
			// repete
			.col-md-6.mgb-30
				article.media.media-evento
					.data-area
						.data
							.dia 05
							.mes SET
						//- .data
						.inicio INÍCIO ÀS 20:00 h
					//- .data-area
					.media-body
						h2 TÍTULO DO EVENTO OU AGENDA IF TESTE
						.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					//- .media-body
				//- .media
			// fim repete
			// repete
			.col-md-6.mgb-30
				article.media.media-evento
					.data-area
						.data
							.dia 05
							.mes SET
						//- .data
						.inicio INÍCIO ÀS 20:00 h
					//- .data-area
					.media-body
						h2 TÍTULO DO EVENTO OU AGENDA IF TESTE
						.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					//- .media-body
				//- .media
			// fim repete
			// repete
			.col-md-6.mgb-30
				article.media.media-evento
					.data-area
						.data
							.dia 05
							.mes SET
						//- .data
						.inicio INÍCIO ÀS 20:00 h
					//- .data-area
					.media-body
						h2 TÍTULO DO EVENTO OU AGENDA IF TESTE
						.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					//- .media-body
				//- .media
			// fim repete
			// repete
			.col-md-6.mgb-30
				article.media.media-evento
					.data-area
						.data
							.dia 05
							.mes SET
						//- .data
						.inicio INÍCIO ÀS 20:00 h
					//- .data-area
					.media-body
						h2 TÍTULO DO EVENTO OU AGENDA IF TESTE
						.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					//- .media-body
				//- .media
			// fim repete
		//- .row.row-eventos

		.mgt-40
			a(href="#").btn.btn-loadmore.btn-block CARREGAR MAIS
			a(href="#").btn.btn-loadmore.btn-block CARREGANDO #[i.fas.fa-spinner.fa-pulse]
		//- .mgt-40
	//- .container
//- main#agenda-3.page-agenda