body{
	font-family: 'montserratregular';
}

a{
	color: inherit;
}

.titulo{
	font-family: 'montserratregular';
	font-size: 18px;
	font-weight: 400;
}

.subtitulo{
	color: #bd1e33;
	font-family: 'montserratblack';
	font-size: 24px;
}