-
	ufs = [
		['AC' , 'Acre'],
		['AP' , 'Amapá'],
		['AM' , 'Amazonas'],
		['PA' , 'Pará'],
		['RO' , 'Roraima'],
		['RR' , 'Rondônia'],
		['TO' , 'Tocantins'],
		['AL' , 'Alagoas'],
		['BA' , 'Bahia'],
		['CE' , 'Ceará'],
		['MA' , 'Maranhao'],
		['PB' , 'Paraíba'],
		['PE' , 'Pernambuco'],
		['PI' , 'Piauí'],
		['RN' , 'Rio Grande do Norte'],
		['SE' , 'Sergipe'],
		['DF' , 'Distrito Federal'],
		['GO' , 'Goiás'],
		['MT' , 'Mato Grosso'],
		['MS' , 'Mato grosso do Sul'],
		['ES' , 'Espirito Santo'],
		['MG' , 'Minas Gerais'],
		['RJ' , 'Rio de Janeiro'],
		['SP' , 'São Paulo'],
		['PR' , 'Paraná'],
		['RS' , 'Rio Grande do Sul'],
		['SC' , 'Santa Catarina']
	];
main.contato-page#contato2
	.page-header
		.container
			h1 Contato
			ol.breadcrumb
				li: a(href="#") Home
				li: span Contato
		//- .container
	///.page-header
	#mapa-contato
		script.
			var mapa = '<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.5487789779054!2d-49.62274668485992!3d-22.8931210431393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjLCsDUzJzM1LjMiUyA0OcKwMzcnMTQuMCJX!5e0!3m2!1spt-BR!2sbr!4v1545243395314" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>';
			var mapaContainer = document.getElementById('mapa-contato');

			window.addEventListener('load', function(){
				mapaContainer.insertAdjacentHTML('afterbegin', mapa);
			});
	.container.pdt-40

		//- +alertas

		.row.justify-content-between
			.col-lg-5.mgb-30
				h2 Fale Conosco

				address.mgb-30.info-block
					h3 Endereço
					p Rua Lorem Ipsum Dolor Set, 345 - Centro - Rio de Janeiro – RJ  #[br] CEP 18960-000 - Caixa Postal 45
				//- address.mgb-30

				h3.media.mgb-30.align-items-center
					i.icon.telemarketing-sm.mr-3
					.media-body Central de Relacionamento com o Cliente
				//- .media
				
				.mgb-30.info-block
					h4 Telefone:
					p (21) 3346.2408  -  (21) 99834-3467
				//- address.mgb-30
				
				.mgb-30.info-block
					h4 E-mail
					p contato@dominio.com.br
				//- address.mgb-30
				
				.mgb-30.info-block
					h4 Horário de Atendimento
					p Segunda a Sexta-feira - 8:00h às 18:00h
					p Sábados - 08:00 às 12:00h
				//- address.mgb-30
			//- .col-lg-5

			.col-lg-6.mgb-30
				form
					p Alguma dúvida? Nos mande um email, teremos o prazer em atende-lô.
					
					.form-group.has-success
						label(for="nome-contato").sr-only Digite seu nome...
						input(type="text" name="nome-contato" id="nome-contato" placeholder="Digite seu nome..." value="Fulano de Tal").form-control
					//- .form-group
					.form-group.has-error
						label(for="email-contato").sr-only Digite seu email...
						input(type="email" name="email-contato" id="email-contato" placeholder="Digite seu email..." value="Dasfbnr376").form-control
					//- .form-group
					.form-group
						label(for="tel-contato").sr-only Digite seu telefone...
						input(type="tel" name="tel-contato" id="tel-contato" placeholder="Digite seu telefone...").form-control
					//- .form-group
					.row
						.col-md-6
							.form-group.select-custom
								label.sr-only(for="uf-orcamento") Estado
								label(for="uf-orcamento").form-control.output Estado
								.drop-options
									input(type="text" name="filtro" data-target="#options-uf-orcamento" id="uf-orcamento")
									ul.options-list#options-uf-orcamento
										each uf in ufs
											-var estado = uf[1];
											-var sigla = uf[0];
											li
												input(type="radio" id=`uf-orcamento-option-${sigla}` name="uf-orcamento" value=sigla)
												label(for=`uf-orcamento-option-${sigla}`) #{estado}
							//- .form-group
						//- .col-md-6
						.col-md-6
							.form-group
								label(for="cidade-contato").sr-only Cidade
								input(type="text" name="cidade-contato" id="cidade-contato" placeholder="Cidade").form-control
							//- .form-group
						//- .col-md-6
					//- .row

					.form-group
						label(for="msg-contato").sr-only Mensagem
						textarea(name="msg-contato" id="msg-contato" placeholder="Mensagem" rows="5").form-control
					//- .form-group

					button.btn.btn-enviar.btn-block ENVIAR FORMULÁRIO
				//- form
			//- .col-lg-7
		//- .row
	//- .container
//- main.contato-page#contato2