main.contato-page#contato3
	.page-header
		.container
			h1 CONTATO
			ol.breadcrumb
				li: a(href="#") Home
				li.active: span CONTATO
		//- .container
	//- .page-header
	.container
		.row
			.col-lg-6.mgb-30
				h2.title-ordenal.mgb-40 #[span.order .01] ENVIE-NOS UM EMAIL

				.mgb-40
					h2.h5.text-muted FALE COM A LOREM IPSUM
					p Alguma dúvida sobre nossos produtos e serviços? Então entre em contato consoco, teremos a satisfação em atendê-lo.
				//- .mgb-40
				
				//- +alertas

				form
					.md-form.has-success
						input(type="text" name="nome-contato" id="nome-contato" placeholder="Nome" value="Fulano de Tal").form-control
						label(for="nome-contato") Nome
						.hover-eff
					//- .md-form
					.md-form.has-error
						input(type="email" name="email-contato" id="email-contato" placeholder="E-mail" value="teadvubdvsargb").form-control
						label(for="email-contato") E-mail
						.hover-eff
					//- .md-form
					.md-form
						textarea(id="msg-contato" name="msg-contato" rows="4" placeholder="Mensagem").form-control
						label(for="msg-contato") Mensagem
						.hover-eff
					//- .md-form
					.mg-form
						button.btn.btn-enviar ENVIAR MENSAGEM
					//- .mg-form
				//- form

				.mgb-30 #[a(href="#" target="_blank").fab.fa-facebook-f.mr-2] #[a(href="#" target="_blank").mr-2.fab.fa-instagram] Siga-nos no Facebook/Instagram
				//- .mgb-30
			//- .col-lg-6

			.col-lg-6.mgb-30
				.mgb-30
					lazyimage(src="assets/images/contato-445x263.png" width="445" height="263" alt="nome/descricao")
				h2.h5.title-ordenal.mgb-40 #[span.order .02] INFORMAÇÕES DE CONTATO

				.media.mgb-30.dados-contato
					i.fas.fa-map-marker.fa-2x.mr-3.text-muted
					.media-body Av. Lorem Ipsum Dolor Sett - 59 - Center - São Paulo/SP
				//- .media.mgb-30
				
				.media.mgb-30.dados-contato
					i.fas.fa-phone.fa-flip-horizontal.fa-2x.mr-3.text-muted
					.media-body (99) 9999-9999 #[br] (99) 99999-9999 (Whatsapp)
				//- .media.mgb-30
				
				.media.mgb-30.dados-contato
					i.far.fa-envelope.fa-2x.mr-3.text-muted
					.media-body contato@dominio.com.br #[br] atendimento@dominio.com.br
				//- .media.mgb-30

				.media.mgb-30.dados-contato
					i.far.fa-clock.fa-2x.mr-3.text-muted
					.media-body De Segunda à Sexta das 8:00 às 18:00h #[br] Sábados das 8:00h às 12:00h
				//- .media.mgb-30
			//- .col-lg-6
		//- .row
	//- .container
//- main.contato-page#contato3