main.perguntas-frequentes#perguntas-3
	.page-header
		.container
			h1 Perguntas Frequentes

			ol.breadcrumb
				li: a(href="index.html") HOME
				li.active: span FAQ
			//- ol.breadcrumb
		//- .container
	//- .page-header
	.container
		h2.h5.mgb-40 Tire suas dúvidas através do nosso sistema de pergunta e resposta abaixo


		.row
			.col-lg-3.mgb-30.col-md-4
				ul.perguntas
					li.active: span PERGUNTA 1 ?
					li: a(href="#") PERGUNTA 2 ?
					li: a(href="#") PERGUNTA 3 ?
					li: a(href="#") PERGUNTA 4 ?
					li: a(href="#") PERGUNTA 5 ?
			//- .col-md-4

			.col-lg-5.mgb-30.col-md-8
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				ul
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit
				//- ul
			//- .col-md-8
			.col-lg-4.align-self-end
				lazyimage(src="assets/images/perguntas-3.png" alt="nome/descricao" width="358" height="412")
		//- .row
	//- .container
//- main.perguntas-frequentes#perguntas-3