main.perguntas-frequentes#perguntas-1.accordion
	.page-header
		.container
			h1 FAQ - DÚVIDAS FREQUENTES
			ol.breadcrumb
				li: a(href="#") Home
				li.active: span FAQ
		//- .container
	//- .page-header
	.container

		//- fdgag
		-for(var c=0;c<8;c++)
			-var n=c+1;
			// REPETE
			.pergunta-faq
				.pergunta(data-toggle="collapse" data-target="#pergunta-"+c aria-expanded="false") Pergunta teste lorem ipsum dolor set ?
				.resposta(id="pergunta-"+c data-parent="#perguntas-1").collapse Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			//- .pergunta
			// FIM REPETE

	//- .container
//- media.perguntas-frequentes#perguntas-1