main#videos-2.page-videos
	.page-header
		.container
			h1 Vídeos
			ul.breadcrumb
				li: a(href="#") Home
				li.active: span Vídeos
		//- .container
	//- .page-header
	.container
		.titles
			h2: span Nossos Vídeos
			p Acompanhe cada momento!
		//- .titles
		.row
			-for(var v=0;v<6;v++)
				-var c=v;
				// REPETE
				.col-lg-4.mgb-30
					.card.card-video
						lazyimage(src=`http://www.agenciagv8.com.br/internasgv8/assets/images/video-370x200-${v+1}.png` width="370" height="200" alt="nome/descricao")
						.card-body
							.card-title Nome Teste do Vídeo Lorem Ipsum
							.card-text Descrição brece do vídeo edit on in teste lorem ipsum dolor sit Ammet.
							.text-center: a(href="#modal-video" data-toggle="modal" data-target="#modal-video" data-video=`#video-${v}`).btn.btn-card VER VÍDEO
					//- .card.card-video
					template(id=`video-${v}`)
						<iframe width="798" height="449" src="https://www.youtube.com/embed/TsM2kmDKf_0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				// FIM REPETE
		/// .row

		.paginacao
			a(href="#"): i.fa.fa-chevron-left
			span.active 1
			a(href="#") 2
			a(href="#") 3
			span ...
			a(href="#") 8
			a(href="#") 9
			a(href="#") 10
			a(href="#"): i.fa.fa-chevron-right
		//- .paginacao
	/// .container
//- main#videos-2.page-videos