extend common/template.pug

block vuejs
	-var vuejs = false;
//- block vuejs

block title
	-var title = 'Document';
//- block title

block theme
	-var theme = "#bd1e33"; // NAO SE ESQUEÇA DE TROCAR PARA COR TEMA DO SITE
//- block theme

block active
	-var active = 'fotos';
//- block active

block conteudo
	include internas/galeria_de_fotos/dev/modelo-3-detalhes.pug
//- block conteudo