extend common/template.pug

block vuejs
	-var vuejs = false;
//- block vuejs

block title
	-var title = 'Document';
//- block title

block theme
	-var theme = "#bd1e33"; // NAO SE ESQUEÇA DE TROCAR PARA COR TEMA DO SITE
//- block theme

block conteudo
	h1.sr-only Nome do Site
	section.banner-area
		.carousel(data-interval="5000" data-ride="carousel").slide.carousel-fade#banner
			.carousel-inner
				// REPETE
				.carousel-item.active
					lazyimage(src="assets/images/banner1.jpg" width="1140" height="680" alt="Banner 1")
				// FIM REPETE
				// REPETE
				.carousel-item
					lazyimage(src="assets/images/banner2.jpg" width="1140" height="680" alt="Banner 1")
				// FIM REPETE
			//- .carousel-inner

			a(href="#banner" data-slide="prev" aria-label="Prev").ctrls.prev.fas.fa-chevron-left
			a(href="#banner" data-slide="next" aria-label="Next").ctrls.next.fas.fa-chevron-right

			ol.carousel-indicators
				li(data-target="#banner" data-slide-to="0").active
				li(data-target="#banner" data-slide-to="1")
		//- .carousel(data-interval="5000").slide.carousel-fade#banner
	//- .banner-area

	section.newsletter
		.container
			h2: span Newsletter

			.row
				.col-lg-6 Fique por dentro de todas as informações mais recentes. Inscreva-se para receber nossa novidades.
				//- .col-lg-6
				.col-lg-6
					form
						label(for="email-newsletter").sr-only E-mail

						.input-group
							input(type="email" name="email-newsletter" id="email-newsletter" placeholder="E-mail").form-control
							.input-group-append
								button.btn.btn-newsletter
									span.sr-only Enviar
									i.fas.fa-paper-plane
						//- .input-group
					//- form
				//- .col-lg-6
			//- .row
		//- .container
	//- section.newsletter

	section.sobre
		.container
			.row
				.col-lg.mgb-30
					h2.titulo EMPRESA
					.mgb-30.clearfix
						h3.subtitulo Pequena chamada para o texto com dados de relevância da empresa. (Ex. anos de atuação ou diferencial)
						br
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 

						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore voluptatem.
					//- .mgb-30

					a(href="#").btn.btn-site SAIBA MAIS
				.col-lg.mgb-30.text-center
					img(src="assets/images/img-empresa.jpg" alt="nome/descricao").img-fluid
			//- .row
		//- .container
	//- section.sobre

	section.produtos-index
		.container
			.text-center.mgb-40
				h2.titulo PRODUTOS
				h3.subtitulo Pequena chamada com dados de relevância da empresa. (Ex. anos de atuação ou diferencial)
			//- .text-center

			.owl-carousel.mgb-30#produtos(data-xl="4" data-md="2" data-nav="true" data-prev="fas fa-chevron-left" data-next="fas fa-chevron-right" data-margin="30")
				-for(var c=0;c<6;c++)
					-var n=c+1;
					// REPETE
					.produto
						.foto
							lazyimage(src="http://placehold.it/260x260" width="260" height="260" alt="Nome do Produto")
						//- .foto
						a(href="#").btn.btn-block.btn-site SAIBA MAIS
						.descricao Nome do Produto Lorem Ipsum
					// FIM REPETE
			//- .owl-carousel#produtos

			.text-center
				a(href="#").btn-site-outline.btn VER MAIS PRODUTOS
		//- .container
	//- section.produtos-index

	section.fotos-index
		.container
			.text-center.mgb-40
				h2.titulo FOTOS
				h3.subtitulo Pequena chamada com dados de relevância da empresa. (Ex. anos de atuação ou diferencial)
			//- .text-center

			.owl-carousel.mgb-30#produtos(data-xl="4" data-md="2" data-nav="true" data-prev="fas fa-chevron-left" data-next="fas fa-chevron-right" data-margin="30")
				-for(var c=0;c<6;c++)
					-var n=c+1;
					// REPETE
					.fotos
						a(href="#")
							span.btn.btn-site #[i.fas.fa-plus] #[span.sr-only VER FOTO]
							lazyimage(src="http://placehold.it/260x260" width="260" height="260" alt="Nome do Produto")
							//- .foto
					// FIM REPETE
			//- .owl-carousel#produtos

			.text-center
				a(href="#").btn-site-outline.btn VER TODAS
		//- .container
	//- section.produtos-index

	section.clientes-index
		.container
			.text-center.mgb-40
				h2.titulo CLIENTES
				h3.subtitulo Pequena chamada com dados de relevância da empresa. (Ex. anos de atuação ou diferencial)
			//- .text-center

			.owl-carousel.mgb-30#produtos(data-xl="6" data-lg="5" data-md="4" data-sm="3" data-xs="2" data-nav="true" data-prev="fas fa-chevron-left" data-next="fas fa-chevron-right" data-margin="30")
				-for(var c=0;c<8;c++)
					-var n=c+1;
					// REPETE
					.cliente
						a(href="#")
							lazyimage(src="http://placehold.it/160x160" width="160" height="160" alt="Nome do Produto")
							//- .foto
					// FIM REPETE
			//- .owl-carousel#produtos

			.text-center
				a(href="#").btn-site-outline.btn VER TODAS
		//- .container
	//- section.produtos-index
//- block conteudo