.internas{
	padding-bottom: 30px;
}

.page-header{
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	background: var(--bg-page-header, #f0f0f0);
	color: var(--color-page-header, #000);
	margin-bottom: 40px;

	h1{
		font-family: 'Montserrat Black';

		@include media-breakpoint-up(md) {
			font-size: 50px;
		}
	}

	.breadcrumbs{
		padding-left: none;
		margin-bottom: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style: none;
		padding-bottom: 40px;
		position: relative;

		&:before{
			content:'';
			width: 60px;
			height: 6px;
			background: var(--theme, $theme);
			position: absolute;
			left: calc(50% - 30px);
			bottom: 0;
			z-index: 1;
		}

		&:after{
			content:'';
			width: 100%;
			max-width: 300px;
			position: absolute;
			border: 1px solid rgba(#000,.2);
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
		}

		li + li:before{
			content:'/';
			display: inline-block;
			margin: 0 10px;
		}

		span{
			color: var(--page-header-span-color, #777);
		}

		a:hover{
			color: var(--page-header-a-hover, $theme);
			text-decoration: none;
		}
	}
}



.md-form{
	position:relative;
	padding-top:1.5rem;
	padding-bottom:1rem;

	& > label{
		margin:0;
		padding:0.375rem 0.75rem;
		position:absolute;

		@include media-breakpoint-down(sm){
			top:0;
			padding:0;
		}

		@include media-breakpoint-up(md){
			top:1.5rem;
			transition:all 0.3s linear;
		}
	}

	.form-control{
		border-radius:0;

		&.form-control-lg ~ label{
			padding: 0.5rem 1rem;
			font-size:1.25rem;
		}

		&.form-control-sm ~ label{
			padding: 0.25rem 0.5rem;
			font-size:0.875rem;
		}
	}

	.hover-eff{
		width:0;
		height:2px;
		background:$green;
		transition:width 0.3s linear;
	}

	.form-control:focus ~ .hover-eff,
	&.active .hover-eff{
		width: 100%;
	}

	&.has-success{
		.hover-eff{
			background: materialColor('green','green');
		}

		label{
			color: materialColor('green','darken-2') !important;
		}
	}

	&.has-error{
		.hover-eff{
			background: materialColor('red','red');
		}

		label{
			color: materialColor('red','red') !important;
		}
	}

	&.has-warning{
		.hover-eff{
			background: materialColor('orange','darken-2');
		}

		label{
			color: materialColor('orange','darken-2') !important;
		}
	}

	@include media-breakpoint-up(md) {
		&.active {
			& > label,
			.form-control-lg ~ label,
			.form-control-sm ~ label{
				top:0;
				padding-top:0;
				font-size: 0.8rem;
			}
		}
	}
}

textarea.form-control{
	height:auto !important;
}

.select-custom{
	position:relative;

	output{
		display: block;
	}

	.drop-options{
		background: #FFF;
		padding: 0.75rem;
		border:1px solid rgba(#000,0.2);
		position:absolute;
		left:0;
		top:100%;
		width:100%;
		display: none;
		z-index:5;
	}

	input[disabled]{
		background: #FFF;
	}

	&.open{
		.drop-options{
			display: block;
		}
	}

	input[name="filtro"]{
		@extend .form-control;
		margin-bottom:10px;
	}

	ul{
		list-style:none;
		padding-left:0;
		margin-left:-0.75rem;
		margin-right:-0.75rem;
		margin-bottom:0;
		max-height: 120px;
		overflow: auto;

		label{
			padding:0.5rem 0.75rem;
			display: block;
			margin-bottom:0;

			&:hover{
				background: rgba(#000,0.1);
			}
		}

		input{
			position:absolute;
			display: none;

			&:checked ~ label{
				background: $blue;
				color: #fff;
			}
		}
	}
}

.has-success{
	.form-control{
		border-color: $success;
	}

	.message-validation{
		color: $success;
		margin-top: 5px;
	}
}

.has-error,
.has-danger{
	.form-control{
		border-color: $danger;
	}

	.message-validation{
		color: $danger;
		margin-top: 5px;
	}
}

.has-warning{
	.form-control{
		border-color: $warning;
	}

	.message-validation{
		color: $warning;
		margin-top: 5px;
	}
}
