.banner-area{

	#banner{
		width:1140px;
		max-width: 100%;
		position: relative;
		margin-left: auto;
		margin-right: auto;

		.ctrls{
			position: absolute;
			top:50%;
			transform: translateY(-50%);
			display: block;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 2.5em;
			height: 2.5em;
			color:#bd1e33;
			border:1px solid #bd1e33;
			background: #FFF;
			z-index:5;
			transition: all 0.3s linear;

			&:hover{
				background: #bd1e33;
				color: #FFF;
				text-decoration: none;
			}

			@include media-breakpoint-down(lg) {
				&.prev{
					left: 15px;
				}

				&.next{
					right: 15px;
				}
			}

			@include media-breakpoint-up(xl) {
				&.prev{
					right: calc(100% - 1em);
				}

				&.next{
					left: calc(100% - 1em);
				}
			}
		}

		.carousel-indicators{
			li{
				width: 1em;
				height: 1em;
				border-radius:100%;
				opacity: 1;
				border:2px solid #FFF;
				background: transparent;
				position: relative;

				&:before{
					content:'';
					display: block;
					width: calc(100% - 4px);
					height: calc(100% - 4px);
					background: #FFF;
					border-radius: 100%;
					position: absolute;
					left: 2px;
					top: 2px;
					transform: scale(0);
					transition: all 0.3s linear;
				}

				&.active:before{
					transform: scale(1);
				}
			}
		}
	}

}

.newsletter{
	background: $bg-newsletter;
	color: $color-newsletter;
	padding: 25px 0;

	h2{
		overflow: hidden;
		margin-bottom: 30px;
		font-family: 'montserratblack';

		span{
			display: inline-block;
			position: relative;

			&:before{
				content: '';
				width: 100vw;
				border-top: 1px solid currentcolor;
				position: absolute;
				left: calc(100% + 30px);
				top:50%;
			}
		}
	}

	.form-control{
		background: transparent;
		border-radius:0;
		border-color: $color-newsletter;
		color:$color-newsletter;

		&::placeholder{
			color: $color-newsletter;
		}
	}
}

.btn-newsletter{
	background: $bg-btn-newsletter;
	color: $color-btn-newsletter;
	border-radius: 0;

	&:hover{
		background: $bg-btn-newsletter-hover;
		color: $color-btn-newsletter-hover;
	}
}

.sobre{
	padding-top: 30px;
}

.produtos-index{
	padding: 40px 0;
	background: #ededed;

	.produto{
		width: 260px;
		max-width: 100%;
		background: #FFF;
		
		.descricao{
			padding:10px;
			text-align: center;
			border-top:1px solid rgba(#000,0.2);
		}

		@include media-breakpoint-down (md){
			display: flex;
			flex-direction: column;

			lazyimage,
			.lazyimage{
				order:1;
			}

			.descricao{
				order:2;
			}

			.btn{
				order:3;
			}
		}

		@include media-breakpoint-up (lg){
			position: relative;

			.btn{
				position: absolute;
				transform: translateY(-100%);
				opacity: 0;
				transition: all 0.3s linear;
			}

			&:hover .btn{
				opacity: 1;
			}
		}
	}
}

.owl-carousel{


	.owl-item .produto{
		margin-right: auto;
		margin-left: auto;
	}

	.owl-prev,
	.owl-next{
		width:2em;
		height: 2em;
		display: flex;
		background: #FFF;
		border: 1px solid #bd1e33;
		color: #bd1e33;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		&:hover{
			color: #FFF;
			background: #bd1e33;
		}
	}

	.owl-prev{
		left: 0;

		@include media-breakpoint-up(lg) {
			left: -1em;
		}
	}

	.owl-next{
		right: 0;

		@include media-breakpoint-up(lg) {
			right: -1em;
		}
	}

}

.fotos-index{
	padding: 30px 0;
	background: #dbdbdb;

	.fotos{
		width: 260px;
		max-width: 100%;
		position: relative;
		overflow: hidden;

		.btn{
			display: flex;
			align-items: center;
			justify-content: center;
			padding:0 0;
			width: 2.5em;
			height: 2.5em;
			position: absolute;
			top: 0;
			right: 0;
			z-index:2;
			opacity: 0;
			transform: translate(100%,-100%);
			transition: all 0.3s linear;
		}

		&:hover .btn{
			opacity: 1;
			transform: translate(0,0);
		}
	}

	.owl-item .fotos{
		margin: 0 auto;
	}
}

.clientes-index{
	padding: 30px 0;

	.cliente{
		width: 160px;
		max-width: 100%;
		border:1px solid transparent;
		transition: all 0.3s linear;
		display: flex;
		align-items: center;
		justify-content: center;

		a{
			display: block;
			max-width: 100%;
		}

		&:hover{
			border-color: #bd1e33;
		}
	}

	.owl-stage{
		display: flex;

		.owl-item{
			display: flex;
		}
	}
}